%h1 会員登録する
%p このサイトはRailsを使ったtwitter風アプリです。

- @user.errors.each do |attr, message|
  .alert.alert-danger= message

= form_for @user, url: signup_index_path, method: :post do |f|
  = f.label :name,"ユーザーID：半角英数小文字4字以上"
  = f.text_field :name
  = f.label :email,"E-mailアドレス"
  = f.text_field :email
  = f.label :password,"パスワード：6文字以上"
  = f.password_field :password
  = f.label :password_confirmation,"パスワード：もう一度入力"
  = f.password_field :password_confirmation
  = f.submit
